<a href="#" class="button011{% if condition %} additional-class{% endif %}">Warranty</a>
<a href="#" class="button012{% if condition %} additional-class{% endif %}">Contact</a>

<style>
     #shopify-section-{{section.id}} a.button011 {
    display: inline-block;
    padding: 10px 20px;
    color: Black;
    border: none;
    text-decoration:none;
  }


  #shopify-section-{{section.id}} a.button011:active {
  /*   background-color: #3e8e41; */
  }


     #shopify-section-{{section.id}} a.button012 {
    display: inline-block;
    padding: 10px 20px;
    color: Black;
    border: none;
    text-decoration:none;
  }



  #shopify-section-{{section.id}} a.button012:active {
  /*   background-color: #3e8e41; */
  }
</style>
